body,#login{
	margin:0px;
	padding:0px;
}
body{
	/*background:url(../img/index/login_bg.jpg) no-repeat 100px 0px;*/
	background-color:#92B53D;
}
#register a:focus{
	outline:none;
}
#register{
	position:absolute;
	top:20px;
	right:500px;
	width:400px;
	height:470px;
	border:1px solid #ccc;
	border-radius:8px;
	background:#FFFFFF;
}
#register .register_header{
	height:40px;
	line-height:40px;
	color:#ccc;
	font-size:18px;
	font-family:;
	margin:10px 0 0 10px;
	text-align: center;
}

#register form{
	width:300px;
	margin:40px auto;
}
#register form input{
	font-size:14px;
	color:#999;
}


.register_footer{
	width:400px;
	text-align:center;
	font-size:14px;
	font-weight:normal;
	color:#333;
	margin:30px 0 50px 0;
}

.register_footer input,.register_footer a{
	font-weight:normal;
}
/*输入框提示*/
#register .register_userinfo,#register .register_userdanger,
#register .register_emailinfo,#register .register_emaildanger,
#register .register_passinfo,#register .register_passdanger,
#register .register_notepassdanger{
	margin:5px 0 5px 0;
	width:300px;
	height:40px;
	padding:8px 0 5px 0;
	text-align:center;
	font-size:13px;
	display:none;
}
/*输入框正确提示*/
#register .register_usersuc,#register .register_emailsuc,
#register .register_passsuc{	
	position: absolute;
	z-index: 100;
	color:green;
	display:none;
}
#register .register_usersuc{
	top: 15px;
	left: 270px;
}
#register .register_emailsuc{
	left: 320px;
	top: 186px;
}
#register .register_passsuc{
	left: 321px;
	top: 247px;
}
